<%- include("parts/header")  %> 
<%- include("parts/navbar")  %> 

<div class="container">
    <div id = "home-title">
        <i><h3>Friends</h3></i>
        <% if(friends.length !== 0) {%> 
        <form action="/group/create-group" method="GET">
            <button>Create Group</button>
        </form>
    <% } %> 
    </div>
  
    <div id="onlineFriends">
        <% if(friends.length === 0) {%> 
        <br>
        <p class ='alert alert-danger'> You Don't Have Friends ... Loser. </p>
        <% } else {%>
            <div id="card" class ='row justify-content-md-center mainOnlineUsers'>
                <%for(let friend of friends){%> 
                    <div class= 'col col-12 col-md-6 col-lg-3 onlineUsers'>
                        <img id="proImage" src="/<%=friend.image%>" alt=""> 
                        <div class= "proName">
                           <a href="/profile/<%=friend.id%>">  <h3><%=friend.name%></h3></a>
                          <a href='/chat/<%=friend.chatId%>' ><button>Chat </button> </a>
                        </div>
                    </div>
                <% } %> 
            </div>
        <% } %>  
    </div>
</div>
<%-include("parts/scripts")%> 

</body>
</html>