<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sign up</title>
</head>
<body>
<%-include("parts/navbar")%>

<div style="margin-top: 50px;" class="container text-center">
    <h3>Create Account</h3>
    <% let emailError=[] ,  nameError=[], passwordError=[] , confirmError= []%>

    <% for(let error of validationErrors) { %>
         <% if(error.param === 'username'){%>
                <% nameError.push(error.msg) }%>
        <% if(error.param === 'email'){%>
                <% emailError.push(error.msg) }%>   
        <% if(error.param === 'password'){%>
                <% passwordError.push(error.msg) }%>
        <% if(error.param === 'confirmPassword'){%>
                <% confirmError.push(error.msg) }%>         
    <% } %>  

        <form action="/signup" method="POST">
            <input style="margin-top: 30px;" name="username" placeholder="Full-name" class="form-control">
            <% for(let i=0; i<nameError.length; i++) {%>
            <p style= "margin-top: 5px; margin-bottom: 0px; height: 30px; padding: 0px;" class="alert alert-danger"><%=nameError[i]%></p>
            <% } %> 
            <input style="margin-top: 30px;" type="email" name="email" placeholder="E-mail" class="form-control">
            <% for(let i=0; i<emailError.length; i++) {%>
                <p style= "margin-top: 5px; margin-bottom: 0px; height: 30px; padding: 0px;" class="alert alert-danger"><%=emailError[i]%></p>
                <% } %> 
            <input style="margin-top: 30px;" type="password" name="password" placeholder="Password" class="form-control">
            <% for(let i=0; i<passwordError.length; i++) {%>
                <p style= "margin-top: 5px; margin-bottom: 0px; height: 30px; padding: 0px;" class="alert alert-danger"><%=passwordError[i]%></p>
                <% } %> 
            <input style="margin-top: 30px;" type="password" name="confirmPassword" placeholder="Confirm Password" class="form-control">
            <% for(let i=0; i<confirmError.length; i++) {%>
                <p style= "margin-top: 5px; margin-bottom: 0px; height: 30px; padding: 0px;" class="alert alert-danger"><%=confirmError[i]%></p>
                <% } %> 
            <input style="margin-top: 30px; margin-bottom: 0px;" type="submit" value="Create Account"  id = "btn-card" class="btn btn-warning btn-lg">
        </form>
        <% if(authError){ console.log(authError)%>
            <p style= "margin-top: 10px;" class="alert alert-danger"><%=authError %> </p>
        <% } %> 
        <br>
        <div>
            You have an account ? <a href="/login">Login</a>
        </div>
</div>

<%-include("parts/scripts")%> 

</body>
</html>